body{
    background-color: #000000;
    color: #fff;
}

.cabecalho{
    height: 70px;
    background-color: #000000;
    border-bottom: 2px solid #dad5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}


.cabecalho .menu{
    display: flex;
    gap: 30px;
} 

.cabecalho .menu li a{
    padding: 10px;
    color: #dad5d5;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Chalet';
}

.cabecalho .menu li a:hover{
    border-bottom: 2px solid #fff;
}

.home{
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);

}

.home::after{
    
    content: '';
    position: absolute;
    height:  100%;
    width: 100%;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.7) 55%, transparent 65%);
}

.home .imagem-fundo{
    min-width: 100%;
    object-fit: cover;
}

.home .informacoes{
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 70px 70px 70px 70px;
}

.home .informacoes img{
    max-width: 150px;
}

.home .informacoes .titulo{
    font-family: 'ChaletComprime';
    font-size: 50px;
}

.home .informacoes .texto {
    font-family: 'ChaletComprime';
    font-size: 20px;
    line-height: 1.6;
}

.botao-comprar , .botao-plataforma {
    background-color: rgba(0, 0, 0, 0.514);
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 20px;
    text-align: center;
    padding: 20px 30px;
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.botao-plataforma{
    color: #fff;
    width: 100%;
    cursor: pointer;
    
}

.botao-comprar:hover{
    background-color: rgba(255, 255, 255, 0.514);
    color: #000;;
    border: 1px solid #000
}

.comprar{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.comprar li img{
    width:  80px;
    align-content: center;
}

.comprar .PC , .comprar .pc{
    width: 30px;
}

.comprar .IOS , .comprar .ios{
    width: 50px;
}

.comprar .XBOX{
    width: 100px;
}

.comprar .titulo{
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.comprar .cartao{
    align-items: center;
    background-color: #1b1a1a;
    padding: 80px;
    border-radius: 10px;
    gap: 40px;
    
}

.comprar .informacoes{
    background-color: rgb(12, 11, 11);
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.comprar .informacoes h3{
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}   

.comprar .informacoes p{
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.comprar .informacoes .plataformas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.comprar .botao-plataforma .plataformas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.comprar .botao-plataforma .plataformas.ativo{
    display: flex;
    opacity: 1;
}

.comprar .botao-plataforma .plataforma{
    padding: 20px;
}



.comprar .botao-plataforma .plataformas li:nth-child(1){
    border: 1px solid #00439c;
}
.comprar .botao-plataforma .plataformas li:nth-child(1):hover{
    background-color: #00439c;
}

.comprar .botao-plataforma .plataformas li:nth-child(2){
    border: 1px solid #315b92;
}
.comprar .botao-plataforma .plataformas li:nth-child(2):hover{
    background-color: #315b92;
}
.comprar .botao-plataforma .plataformas li:nth-child(3){
    border: 1px solid #387a26;
}
.comprar .botao-plataforma .plataformas li:nth-child(3):hover{
    background-color: #387a26;
}
.comprar .botao-plataforma .plataformas li:nth-child(4){
    border: 1px solid #9b0707;
}
.comprar .botao-plataforma .plataformas li:nth-child(4):hover{
    background: #9b0707;
}
.comprar .botao-plataforma .plataformas li:nth-child(5){
    border: 1px solid #b8dd15;
}
.comprar .botao-plataforma .plataformas li:nth-child(5):hover{
    background: #b8dd15;
}


